/* Navbar */

.navbar.navbar-default.navbar-static-top {
  background-color: #112431 !important;
}


/*Leyenda de mapa*/

.mapboxgl-ctrl, .mapboxgl-ctrl-logo {
 display: none !important; 
}


/* Animate */

.slider-animate-container {
  display: flex;
  justify-content: center;
}
.glyphicon.glyphicon-play,  .glyphicon.glyphicon-pause {
    color: red !important;
    font-size: 1.4rem;

}

/* Credito */
#credito {
  text-align: center;
}


